@charset "UTF-8";

@media screen and (max-width:600px) {
    #nav{
        display: block;
        text-align: center;
        padding: 07px;
        background-color: #003d73;
    }

    menu a{
        display: block;
        background-color: #00529a;
        border: 1px solid rgb(90, 90, 90);
       
        margin: 0px;
        text-align: center;

    }
    .material-symbols-outlined{
        cursor: pointer;
        }
   
      menu{
        display: none;
      }


    main{
        
        margin-top: -5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    footer{
        padding: 7px;
        border-radius: 0px;
    }

}