@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
   margin: 0px;
   padding: 0px;
}

:root{
    --fonteT:'Ubuntu', sans-serif;
}

body{
    background-image: url(../imagens/25731599.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    font-family: var(--fonteT);
    color: white;
  padding-top: 40px;   
}
    


header h1{
    text-align: center;
    font-size: 1.6em;
}

header p{
    text-align: center;
    padding-bottom: 15px;
   
}

nav{
  padding-left: 10px;
  padding-bottom: 5px;
  padding: 8px;
}

 header a{
   text-decoration: none;
   font-size: 1.2em;
   color: white;
  margin-left: 10px;
   padding: 9px;
   
    
}

header a:hover{
background-color: rgb(26, 26, 104);
border-radius: 4px;
transition-duration: 1.1s;




}

main{
    max-width: 900px;
    min-width: 260px;
    margin: auto;
    background-color: white;
    padding: 17px;
    margin-top: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: justify;

}

main h1{
     color: darkblue;
     text-indent: 3px;
     margin-top: 10px;
     font-size: 2.6em;
}

main h2{
     color: blue;
    margin: 8px;
    font-size: 1.9em;
    padding-top: 4px;
}


main p{
    padding-top: 10px;
    text-indent: 12px;
    line-height: 1.3em;
    font-size: 1.1em;
}


img{
    margin: auto;
    display: block;
    padding: 15px;
    width: 95%;
   
}

footer{
    text-align: center;  
    font-size: 1.1em;
    color: white;
    background-color: black;
    max-width:  900px;
    min-width: 260px;
    margin: auto;
    padding-left: 17px ;
    padding-right: 17px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

footer a{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;


}